:root {
  font-family: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141313;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
}

// dark-mode
$dark-color: #073b4c;
$dark-blue: #118ab2;
$dark-green: #06d6a0;
$dark-yellow: #ffd166;
$dark-red: #ef476f;
